/* Белый фон всегда */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center; /* по горизонтали */
  align-items: flex-start; /* по вертикали сверху */
  background: pink !important;
}

/* Контейнер игры */
#game {
  position: relative;
  text-align: center;
  padding: 80px 120px 80px 120px; /* сверху, справа, снизу, слева */
  width: fit-content;
  background: white;
  overflow: visible;

  transform: scale(2.5);           /* увеличиваем всё */
  transform-origin: top center;     /* масштабируем сверху по центру */
}

/* Кнопка */
#girl {
  width: 160px;  
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

/* Тайтл */
#title {
  display: block;
  margin: 0 auto 12px auto;
  width: 260px;
  pointer-events: none;
}

/* Сердечки */
.heart {
  position: absolute;
  width: 40px;
  height: 40px;
  pointer-events: none;
  animation: rise 2s ease forwards;
}

@keyframes rise {
  0% { opacity: 1; transform: translateY(0) scale(1); }
  100% { opacity: 0; transform: translateY(-150px) scale(1.2); }
}

